button.border-b-2 {
    border-color: transparent;
  }
  
  button.border-b-2.border-white {
    border-color: white;
  }

  .container{
    background-image: url("../../../assets/streetlight.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
  }