<section class="font-mono px-2">

    <nav>
        <main class="fixed z-10 top-0 start-0 end-0 bg-black text-white p-3 flex items-center justify-between">
            <div class="flex items-center " >
                <img src="assets/swiftEarn.png" class="h-[50px] w-[40px]" alt="logo" srcset="">
                <p class="text-xl font-bold">SwiftEarn</p>
            </div>
            <div class="space-x-2">
                <span class="iconify" data-icon="mingcute:notification-fill"></span>
                <span class="iconify" data-icon="ri:customer-service-fill"></span>
            </div>
        </main>

        <main class="flex space-x-4 items-center justify-between fixed bottom-0 start-0 end-0 py-4 px-6 text-gray-500 bg-black font-sans">
            <div routerLink="/dashboard" class="flex flex-col items-center justify-center   ">
                <p><span class="iconify" data-icon="mdi:home"></span>
                </p>
                <h5 class="text-sm font-medium">Home</h5>
            </div>
            <div routerLink="/task" class="flex flex-col items-center justify-center">
                <span class="iconify" data-icon="mdi:subscriptions"></span>
                <h5 class="text-sm font-medium">Task</h5>
            </div>
            <div routerLink="/referral" class="flex flex-col items-center justify-center">
                <span class="iconify" data-icon="mdi:family"></span>
                <h5 class="text-sm font-medium">Team</h5>
            </div>
            <div routerLink="/plans" class="flex flex-col items-center justify-center">
                <span class="iconify" data-icon="mdi:chart-line"> </span>
                <h5 class="text-sm font-medium">
                    Plans
                </h5>
            </div>
            <div routerLink="/profile" class="flex flex-col items-center justify-center text-white">
                <span class="iconify" data-icon="mdi:user"></span>
                <h5 class="text-sm font-medium">
                    Me
                </h5>
            </div>
        </main>
    </nav>

    <main class="card my-4 font-mono space-y-3 p-3 mt-[80px]">
        <div class="flex justify-between items-center ">
          <h5 class="font-medium text-2xl">{{user.username}}</h5>
          <h5 class="font-medium text-2xl">Active Plan</h5>
        </div>

        <div class="mx-auto flex items-center flex-col space-y-3">
          <div class="text-center">
            <h6 class="text-2xl">Total Balance(USDT)</h6>
            <p class="text-xl">{{ user.totalBalance === 0 ? '00.00' : user.totalBalance }}</p>
           
          </div>
          <div class="text-center">
            <h6 class="text-2xl">Recharge amount(USDT)</h6>
            <p class="text-xl">{{ user.rechargeBalance === 0 ? '00.00' : user.rechargeBalance }}</p>
          </div>
        </div>
    </main>

    <main class="flex items-center justify-between bg-black text-white py-3 rounded-md ">
        <div class="flex flex-col w-3/12 items-center">
            <span class="iconify" data-icon="nimbus:money"></span>
            <p>Deposit</p>
        </div>
        <div class="flex flex-col w-3/12 items-center">
            <span class="iconify" data-icon="ph:hand-withdraw"></span>
            <p>Withdraw</p>
        </div>
        <div class="flex flex-col w-3/12 items-center justify-center">
            <span class="iconify" data-icon="material-symbols:history-rounded"></span>
            <p class="text-center">  History</p>
        </div>
    </main>

    <main class="bg-black text-white space-y-4 mt-4 mb-[90px] p-4 rounded-md">
        <div class="flex items-center space-x-2">
            <span class="iconify" data-icon="grommet-icons:transaction"></span>
            <p>Transfer Funds</p>
        </div><hr class="text-gray-600">
        <div class="flex items-center space-x-2">
            <span class="iconify" data-icon="ph:password"></span>
            <p>Change Password</p>
        </div><hr class="text-gray-600">
        <div class="flex items-center space-x-2">
            <span class="iconify" data-icon="uit:signout"></span>
            <p>Sign Out</p>
        </div><hr class="text-gray-600">
    </main>
</section>